
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,400');
body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
}
body::-webkit-scrollbar {
    width: 0.9vw;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(left, #2C8E8A,#32A59D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #2C8E8A,#32A59D); /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, right top, from(#2C8E8A),to(#32A59D));
    background: linear-gradient(left, #2C8E8A,#32A59D);
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.row {
    max-width: 100%;
    width: 100vw;
    margin: 0 0 20px 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.column {
    text-align: justify;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.first {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.writing {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 50vw;
    height: 80vh;
    margin: 20px;
    padding: 30px 0px 30px 0 ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    color:#000;
}
#first-img{
    width: 75vw;
    height: auto;
}

.para1 {
    width: 50vw;
    height: 80vh;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: white;
    margin: 20px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 0 4px 0 rgba(0,0,0,0.14);
            box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 0 4px 0 rgba(0,0,0,0.14);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.para1:hover,.para2:hover{
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 0 8px rgba(0,0,0,0.14);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 0 8px rgba(0,0,0,0.14);
}
.para1 h1{
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 1.8vw;
    font-weight: 400;
}
.para1 p{
    max-width: 45vw;
    text-align: justify;
    font-size: 1.4vw;
    margin-bottom: 5px;
}
.para1 h6{
    font-size: 1.4vw;
    font-weight: 400;
    margin-top: 0;
}
#poa{
    text-align:center;
    margin-top: 5%;
    margin-bottom: 0;
}
.para1:nth-child(3) p{
    font-size: 1.3vw;
}
.para1:nth-child(3) h6{
    font-size: 1.3vw;
}
.para1 ul{
    font-size: 1.4vw;
    text-align: left;
}
.buttons{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Raleway', serif;
}

.svg-wrapper {
  width: 320px;
}
.shape {
  stroke-dasharray: 150 590;
  stroke-dashoffset: -474;
  stroke-width: 4px;
  fill: transparent;
  stroke: #000;
  border-bottom: 5px solid black;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  -o-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Lato', serif;;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #000;
  top: -48px;
  position: relative;
  text-align: center;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.header {
    font-family: 'Raleway', serif;
    font-weight: 400 !important;
    font-size: 3vw;
    padding:20px;
    color: #fff;
    background: -webkit-linear-gradient(left, #2C8E8A,#32A59D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #2C8E8A,#32A59D); /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, right top, from(#2C8E8A),to(#32A59D));
    background: linear-gradient(left, #2C8E8A,#32A59D);
    text-align: center;
    height: 12vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2vh;
}

.header h1 {
    font-weight: 400 !important;
}

.box{
    background: -webkit-linear-gradient(left, #2C8E8A,#32A59D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #2C8E8A,#32A59D); /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, left bottom, from(left), color-stop(#2C8E8A),to(#32A59D));
    background: linear-gradient(left, #2C8E8A,#32A59D);
    color:white;

}
.box .img{
    width: 70%;
    height: 30%;
    background-image: url("../../img/Action/Connect.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
 .img1{
    width: 70%;
    height: 30%;
    background-image: url("../../img/Action/POA.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img2{
    width: 70%;
    height: 30%;
    background-image: url("../../img/Action/Launchpad.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@media(max-width: 1024px){
    body{
        max-width: 100vw;
        width: 100vw;
        padding: 0;
        margin:0;
        overflow-x: hidden;
    }
    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 90vw;
    }
    .order-1{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    #first-img{
        width: 100vw;
        height: auto;
    }
    .para1{
        margin: 10px 0 10px 0;
        padding: 0;
        width: 95vw;
        height: 105vh;
    }
    .para1 h1{
        font-size: 7vw;
    }
    .para1 p{
        font-size: 5vw;
        max-width: 90%;
        font-weight: 300;
    }
    .first{
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
    }
    .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 100vw;
    }
    .writing{
        width: 100vw;
        height: 80vh;
    }
    .box p, .box h6{
        font-size: 5vw !important;
    }
    .box h6{
        margin-right: 5px;
    }
}
@import url('../dragdealer.css')
